//=============
//Page Archives
//=============
.page-title-archive {
	color: $blue-principal;
}

.page-header {

}

//=============
//Blog
//=============

.blog,
.archive {

	.wrapper-blog,
	.page-header {
		width: 70%;
		margin: 2em 15%;
		@include mq(lap) { width: 80%; margin: 3em 10%; }
		@include mq(tablet) { width: 90%; margin: 3em 5%; }
		@include mq(phone) { width: 97%; margin: 3em 1.5%; }
	}

	article {
		width: 100%;
		margin: 0;
		padding: 2em 0;
		border-bottom: 1px solid #acacac;

		a {
			color: $blue-principal;
			transition: 0.2s all ease-in;

			&:hover {
				color: $typo-gris-dark;
			}
		}
	}

	.wrapper-articles {
		display: inline-block;
		vertical-align: top;
		width: 65%;
		margin-right: 5%;
		@include mq(phone) { width: 100%; margin-right: 0%; }
	}

	.read-more {
		position: relative;
		padding-left: 0.5em;

		a {
			color: $typo-gris-dark;
			transition: 0.2s all ease-in;

			&:hover {
				color: $blue-principal;
			}
		}

		&::before {
			content:"";
			position:absolute;
			top:30%;
			left:0;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid $blue-principal;
		}
	}
}

.blog-archives {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-top: 4.6em;
	text-align: right;
	@include mq(phone) { width: 100%; margin-top: 2em; text-align: left }

	h2 {
		padding-bottom: 0.25em;
		color: $blue-principal;
		border-bottom: 1px solid #acacac;
	}

	ul {
		margin: 0;
		list-style: none;
	}

	a {
		color: $typo-gris-dark;
		transition: 0.2s all ease-in;

		&:hover {
			color: $blue-principal;
		}
	}
}

//=============
//Article
//=============
.entry-content-article {

	.entry-meta-article {
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		border-bottom: 1px solid #acacac;
	}

	a {
		color: $blue-principal;
		transition: 0.2s all ease-in;

		&:hover {
			color: $typo-gris-dark;
		}
	}
}

.blog-archives-article {
	margin-top: 3.2em;
}

.bloc-idem-article {
	display:block;
	border-top: 1px solid #acacac;
	margin-top: 2em;
	padding-top: 1em;

	.bloc-idem-article-title {
		text-transform: uppercase;
	}

	ul {
		list-style:none;
		margin: 0;
	}

	li {
		padding-left: 1em;
		position:relative;

		&::before {
			content:"";
			position: absolute;
			left: 0;
			top:0.5em;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid $typo-gris-light;
		}

	}

}

//=============
//Social
//=============
.bloc-social {
	margin:0.5em 0;
	padding-top: 1em;
	border-top: 1px solid #acacac;
	border-bottom: 1px solid #acacac;
}

.social-plugin {
	width: 70%;
	float: left;
	@include mq(tablet) { width: 100%; }
	@include mq(phone) { width: 100%; }
}

.comments-link {
	width: 30%;
	float: right;
	text-align: right;
	@include mq(tablet) { width: 100%; text-align: left; }
	@include mq(phone) { width: 100%; text-align: left;}
}
