.breadcrumb {
	margin: 1em 0 0 15%;
	display: inline-block;
	@include mq(lap) { margin: 1em 0 0 10%; }
	@include mq(tablet) { margin: 1em 0 0 5%; }
	@include mq(phone) {  margin: 1em 0 0 1.5%; }

	ul {
		margin: 0.5em 0 0;
		padding: 1em;
		border: 1px solid #acacac;
	}

	li {
		list-style: none;
		display: inline-block;
		margin-right: 0.5em;

		&:last-child{
			margin-right: 0;
		}

		&::after {
			content:">";
			margin-left: 0.5em;
		}

		&:last-child::after{
			content:"";
		}
	}

	.current_page_item a {
		color:$blue-principal;
	}

	a {
		text-transform: uppercase;
		color: $gris-dark;

		&:hover {
			color:$blue-principal;
		}
	}
}

//article 
.products {
		//width: 70%;
		margin: 2em 15%;
		@include mq(lap) { margin: 3em 10%; }
		@include mq(tablet) { margin: 3em 5%; }
		@include mq(phone) {  margin: 3em 1.5%; }
}

.entry-image-double {
	float: left;
	max-width: 50%;
}